<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","wideSize":"1280px"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"rides-and-shaves/hero"} /-->

<!-- wp:pattern {"slug":"rides-and-shaves/servicos"} /-->

<!-- wp:pattern {"slug":"rides-and-shaves/lojas"} /-->

<!-- wp:pattern {"slug":"rides-and-shaves/sobre"} /-->

<!-- wp:pattern {"slug":"rides-and-shaves/shop"} /-->

<!-- wp:pattern {"slug":"rides-and-shaves/journal"} /-->

<!-- wp:pattern {"slug":"rides-and-shaves/reviews"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
